nav{
  display: flex;
  justify-content:space-between;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.083);
  backdrop-filter: blur(6px);
}

.nav-logo{
  color: $firstColor;
  font-size: 30px;
  text-decoration: none;
  font-family: $firstFont;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.nav-logo:hover{
  color: $firstColor;
}

.nav-list{
  font-family: $firstFont;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  list-style: none;
}

.nav-list-item{
  padding: 5px 0;
  margin: 0 auto;
}

.nav-link{
  color: $firstColor;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.nav-link:hover{
  color: $firstColor;
}

.navbar-toggler{
  border: transparent;
}
.navbar-toggler:focus{
  color: transparent;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke=' $firstColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
